<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Discuss · Phoenix Framework</title>
  </head>
  <body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="/" class="navbar-brand text-dark"><strong>Discuss</strong></a>
      </h5>
      <%= if Discuss.Auth.user_signed_in?(@conn) do %>
        <nav class="my-2 my-md-0 mr-md-3">
          Signed in as: <strong><%= Discuss.Auth.current_user(@conn).username %></strong>
        </nav>
        <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "btn btn-outline-primary" %>
      <% else %>
        <%= link "Sign In",
          to: Routes.session_path(@conn, :new),
          class: "btn btn-outline-primary" %>
        <%= link "Sign Up",
          to: Routes.registration_path(@conn, :new),
          class: "btn btn-outline-primary ml-md-3" %>
      <% end %>

    </header>
    <main role="main" class="container">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
